<component name="libraryTable">
  <library name="Spring" type="spring">
    <CLASSES>
      <root url="jar://F:/学习资料/2018IDEA基础+就业/4.框架/03.Spring/gyf-day01-20180424/day01-20140424/spring-jar/com.springsource.org.apache.commons.logging-1.1.1.jar!/" />
      <root url="jar://F:/学习资料/2018IDEA基础+就业/4.框架/03.Spring/gyf-day01-20180424/day01-20140424/spring-jar/spring-beans-4.2.0.RELEASE.jar!/" />
      <root url="jar://F:/学习资料/2018IDEA基础+就业/4.框架/03.Spring/gyf-day01-20180424/day01-20140424/spring-jar/spring-context-4.2.0.RELEASE.jar!/" />
      <root url="jar://F:/学习资料/2018IDEA基础+就业/4.框架/03.Spring/gyf-day01-20180424/day01-20140424/spring-jar/spring-core-4.2.0.RELEASE.jar!/" />
      <root url="jar://F:/学习资料/2018IDEA基础+就业/4.框架/03.Spring/gyf-day01-20180424/day01-20140424/spring-jar/spring-expression-4.2.0.RELEASE.jar!/" />
      <root url="jar://F:/学习资料/2018IDEA基础+就业/4.框架/03.Spring/gyf-day01-20180424/day01-20140424/spring-jar/spring-aop-4.2.0.RELEASE.jar!/" />
      <root url="jar://F:/学习资料/2018IDEA基础+就业/4.框架/03.Spring/gyf-day01-20180424/day01-20140424/spring-jar/spring-aspects-4.2.0.RELEASE.jar!/" />
      <root url="jar://F:/学习资料/2018IDEA基础+就业/4.框架/03.Spring/gyf-day01-20180424/day01-20140424/spring-jar/com.springsource.org.aopalliance-1.0.0.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>