<component name="libraryTable">
  <library name="Spring" type="spring">
    <CLASSES>
      <root url="jar://F:/学习资料/2018IDEA基础+就业/4.框架/03.Spring/gyf-day01-20180424/day01-20140424/spring-jar/com.springsource.org.apache.commons.logging-1.1.1.jar!/" />
      <root url="jar://F:/学习资料/2018IDEA基础+就业/4.框架/03.Spring/gyf-day01-20180424/day01-20140424/spring-jar/spring-beans-3.2.0.RC2.jar!/" />
      <root url="jar://F:/学习资料/2018IDEA基础+就业/4.框架/03.Spring/gyf-day01-20180424/day01-20140424/spring-jar/spring-context-3.2.0.RC2.jar!/" />
      <root url="jar://F:/学习资料/2018IDEA基础+就业/4.框架/03.Spring/gyf-day01-20180424/day01-20140424/spring-jar/spring-core-3.2.0.RC2.jar!/" />
      <root url="jar://F:/学习资料/2018IDEA基础+就业/4.框架/03.Spring/gyf-day01-20180424/day01-20140424/spring-jar/spring-expression-3.2.0.RC2.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>